* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

header {
  background-image: url('Media/big-bg.png');
  /* background: #1e2a38; */
  color: white;
  padding: 120px;
  text-align: center;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 10px;
  text-align: center;
}

section {
  padding: 20px;
}

#seasonHeader{
    margin-top: 20px;
    text-align: center;
}

.teams-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.team {
  background: white;
  padding: 13px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.team p{
    text-align: center;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table, th, td {
  border: 3px solid #000000;
}

th, td {
  padding: 10px;
  text-align: center;
}

.schedule-list {
  list-style: none;
  padding-left: 0;
}

.schedule-list li {
  background: white;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.schedule-list span{
    color: #ff0000;
    font-weight: 700;
}

#records h2 {
  cursor: pointer;
  background: #1e2a38;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

#records-content {
  background: white;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 15px;
  background: #1e2a38;
  color: white;
  margin-top: 20px;
}

@media (max-width: 500px) {

  header {
    background-image: url('Media/small-bg.webp');
    /* background: #000000; */
    padding: 30px;
  }
    
}
